<%- include('../../fragments/header.ejs') %>

<main>
	<h2>Lista Zleconych badań</h2>
	<table class="table-list">
		<thead>
			<tr>
				<th>Imie</th>
				<th>Nazwisko</th>
				<th>Data ur.</th>
				<th>Badanie</th>
				<th>Data zlec.</th>
				<th>Data wyn.</th>
				<th>Wynik</th>
				<th>Akcje</th>
			</tr>
		<tbody>
			<tr>
				<td>Janina</td>
				<td>Kowalska</td>
				<td>09-10-1978</td>
				<td>Troponina</td>
				<td>01-10-2020</td>
				<td>08-10-2020</td>
				<td>5,5 UI</td>
				<td>
					<ul class="list-actions">
						<li><a href="/orders/details/2" class="list-actions-button-details">Szczegóły</a>
						</li>
						<li><a href="NewResult-form_Kowalska.html" class="list-actions-button-edit">Edytuj</a></li>
						<li><a href="" class="list-actions-button-delete">Usuń</a></li>

					</ul>
				</td>
			</tr>

		</tbody>


	</table>
	<p>
		<a href="/orders/add" class="button-add">Dodaj nowe zlecenie</a>
	</p>
</main>

<%- include('../../fragments/footer.ejs') %>